    .right {
        float: right;
        width: 50%;
        height: 30%;
        background-color: #F63C3C;
        color: #fff;
    }
    .left {
        float: left;
        width: 50%;
        height: 30%;
    }
    .button {
        background-color: #F63C3C;
        float: center;
        border-radius: 0px;
        font-size: 20px;
        text-decoration: none;
        color: #fff;
    }
    .two {
        margin-top: 7px;
        height:
    }
    .three {
        background-color: aliceblue;
    }
    .one,
    .three {
        margin-top: 7px;
    }
    .one,
    .two,
    .three {
        text-align: justify;
        display: grid;
        height: 10%;
    }
    .blacka {
        background-color: #726D6E;
        float: left;
        width: 33%;
    }
    .blackb {
        float: left;
        background-color: #605A5C;
        ;
        width: 33%;
    }
    .blackc {
        float: left;
        background-color: #726D6E;
        width: 33%;
    }
    .blacka,
    .blackb,
    .blackc {
        height: 20%;
        margin: 0;
        padding: 0;
    }
    .rightkorir {
        float: right;
        width: 50%;
        height: 10%;
    }
    .leftkorir {
        float: right;
        width: 45%;
        height: 10%;
    }
    body {
        width: 100%;
    }
    header {
        display: block;
        width: 100%;
        background-color: black;
        height: 200px;
    }
    nav {
        background-color: black;
        color: white;
        text-decoration: none;
        font-size: 15px;
        word-spacing: 10px;
    }
    .text {
        text-align: center;
        font-family: 'Oswald', sans-serif;
        font-style: oblique;
        color: aliceblue;
        padding-bottom: 10px;
        text-align: center;
        font-family: 'Roboto Slab', serif;
    }
    .logo {
        padding-right: 200px;
        float: left;
    }
    .text {
        background-color: black;
        font-family: serif;
        font-size: 30px;
    }
    header p {
        color: white;
        font-size: 19px;
        text-align: center;
    }
    .a {
        float: left;
        padding: 50px;
    }
    .b {
        float: left;
        padding: 50px;
    }
    .c {
        float: left;
        padding: 45px;
    }
    .a,
    .b,
    .c {
        display: inline-block;
    }
    .align {
        display: inline-block;
        margin: 50px 100px 22px 200px;
    }
    .menu1 {
        float: left;
        width: 30%;
    }
    .menu2 {
        float: left;
        width: 30%;
    }
    .menu3 {
        float: left;
        width: 30%
    }
    .menu {
        display: inline-block;
        width: 100%;
    }
    .simple {
        text-align: center;
        color: floralwhite;
        background-color: #352D2F;
        margin-top: 1%;
        margin-bottom: 1%;
        padding: 1%;
    }
    .simple h5 {
        border-bottom: 1px solid #fff;
    }
