    .right {
        float: right;
        width: 50%;
        height: 30%;
        background-color: red;
        color: #fff;
    }
    .left {
        float: left;
        width: 50%;
        height: 30%;
    }
    .button {
        background-color: red;
        float: center;
        border-radius: 0px;
        font-size: 20px;
        text-decoration: none;
        color: #fff;
    }
    .two {
        margin-top: 7px;
        height:
    }
    .three {
        background-color: azure;
    }
    .one,
    .three {
        margin-top: 7px;
    }
    .one,
    .two,
    .three {
        text-align: justify;
        display: grid;
        height: 10%;
    }
    .blacka {
        background-color: dimgray;
        float: left;
        width: 33%;
    }
    .blackb {
        float: left;
        background-color: black;
        width: 33%;
    }
    .blackc {
        float: left;
        background-color: dimgray;
        width: 33%;
    }
    .blacka,
    .blackb,
    .blackc {
        height: 20%;
        margin: 0;
        padding: 0;
    }
    .rightkorir {
        float: right;
        width: 50%;
        height: 10%;
    }
    .leftkorir {
        float: left;
        width: 45%;
        height: 10%;
        margin-top: 0px;
        align-items: center;
        margin-left: 3px;
    }
    body {
        width: 100%;
    }
    header {
        display: block;
        width: 100%;
        background-color: black;
        color: #fff;
    }
    nav {
        background-color: black;
        color: white;
        text-decoration: none;
        font-size: 15px;
        word-spacing: 10px;
    }
    header text {
        text-align: center;
        font-family: 'Oswald', sans-serif;
        font-style: oblique;
        color: aliceblue;
        padding-bottom: 10px;
        text-align: center;
        font-family: 'Roboto Slab', serif;
        font-size: 30px;
    }
    .logo {
        padding-right: 200px;
        float: left;
    }
    .text {
        background-color: black;
        font-family: serif;
        font-size: 30px;
    }
    header h1 {
        color: white;
        font-size: 19px;
        text-align: center;
    }
